#img1{
    height: 850px;
    width: 1405px;
}
body{
    background-color: slateblue;
    color: whitesmoke;
}

.img2{
    height: 255px;
    width: 275px;
    
}
.img2:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.menu1{
float:left;
list-style:none;
color:white;
position:fixed;
background:black;
width:100%;
margin-top:0px;
top:0px;
z-index:10;
}
.links{
display:inline;
font-size:20px;
padding-left:35px;
padding-right:35px;
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
#myCarousel img
{
    height: 600px;
    width: 400px;
    padding-bottom :10px; 
       }